
NET RESET LOC = "U4"  |  IOSTANDARD = "LVCMOS15"  |  TIG;

NET CLK_N LOC = "P3"  |  IOSTANDARD = "LVDS_25";
NET CLK_P LOC = "R3"  |  IOSTANDARD = "LVDS_25";

NET RS232_Uart_1_sin LOC = "T19"  |  IOSTANDARD = "LVCMOS18";
NET RS232_Uart_1_sout LOC = "U19"  |  IOSTANDARD = "LVCMOS18";

NET sm_fan_pwm_net_vcc LOC = "J26" | IOSTANDARD = "LVCMOS25";
/*
NET up_status[0] LOC = "M26" | IOSTANDARD = "LVCMOS33";
NET up_status[1] LOC = "T24" | IOSTANDARD = "LVCMOS33";
NET up_status[2] LOC = "T25" | IOSTANDARD = "LVCMOS33";
NET up_status[3] LOC = "R26" | IOSTANDARD = "LVCMOS33";
NET up_status[4] LOC = "AR35" | IOSTANDARD = "LVCMOS18";
NET up_status[5] LOC = "AP41" | IOSTANDARD = "LVCMOS18";
NET up_status[6] LOC = "AP42" | IOSTANDARD = "LVCMOS18";
NET up_status[7] LOC = "AU39" | IOSTANDARD = "LVCMOS18";
*/
NET adc_clk_in_p     LOC = "D19" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_clk_in_n     LOC = "C19" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_or_p    LOC = "C17" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_or_n    LOC = "B17" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[0] LOC = "D18" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[0] LOC = "C18" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[1] LOC = "E17" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[1] LOC = "E18" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[2] LOC = "H14" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[2] LOC = "H15" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[3] LOC = "G17" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[3] LOC = "F17" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[4] LOC = "F18" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[4] LOC = "F19" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[5] LOC = "G15" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[5] LOC = "F15" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[6] LOC = "G19" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[6] LOC = "F20" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_p[7] LOC = "H16" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET adc_data_in_n[7] LOC = "G16" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";

NET spi_cs0n LOC = "F25" | IOSTANDARD = "LVCMOS25";
NET spi_cs1n LOC = "G25" | IOSTANDARD = "LVCMOS25";
NET spi_clk  LOC = "G26" | IOSTANDARD = "LVCMOS25";
NET spi_sdio LOC = "H26" | IOSTANDARD = "LVCMOS25";

NET lcd[6] LOC = "L20" | IOSTANDARD = "LVCMOS33"; ## lcd_e    
NET lcd[5] LOC = "L23" | IOSTANDARD = "LVCMOS33"; ## lcd_rs   
NET lcd[4] LOC = "L24" | IOSTANDARD = "LVCMOS33"; ## lcd_rw   
NET lcd[3] LOC = "L22" | IOSTANDARD = "LVCMOS33"; ## lcd_db[7]
NET lcd[2] LOC = "M25" | IOSTANDARD = "LVCMOS33"; ## lcd_db[6]
NET lcd[1] LOC = "M24" | IOSTANDARD = "LVCMOS33"; ## lcd_db[5]
NET lcd[0] LOC = "L25" | IOSTANDARD = "LVCMOS33"; ## lcd_db[4]

NET "CLK_P" TNM_NET = "CLK_P";
TIMESPEC "TS_CLK_P" = PERIOD "CLK_P" 200 MHz;
NET "CLK_N" TNM_NET = "CLK_N";
TIMESPEC "TS_CLK_N" = PERIOD "CLK_N" 200 MHz;

NET "adc_clk_in_p" TNM_NET = "adc_clk_in_p";
TIMESPEC "TS_adc_clk_in_p" = PERIOD "adc_clk_in_p" 300 MHz;
NET "adc_clk_in_n" TNM_NET = "adc_clk_in_n";
TIMESPEC "TS_adc_clk_in_n" = PERIOD "adc_clk_in_n" 300 MHz;

  
